.btn1{
    padding: 10px 14px;
    border: 1px solid black;
    background-color: transparent;
    font-weight: 600;
    cursor: pointer;
    margin: 50px;
    position: relative;
    /* trantition name, duration , timing function, delay, behavior */
    /* transition-property: background-color;
    transition-duration: 3s ;
    transition-timing-function: linear ;
    transition-delay: 1s; */
    /* transition-behavior: smooth;
     */
    /* transition: all 3s linear 1s; */
}
.btn1:hover{
    background-color: yellow;
    color: white;
}
.bxox{
    background-color: brown;
    width: 100px;
    height: 100px;
    margin: 10px 0px;
}
.box1{
    transition: width 3s linear 0s;
}
.box1:hover{
    width: 700px;
}
.box2{
    transition: width 3s ease 0s;
}
.box2:hover{
    width: 700px;
}
.box3{
    transition: width 3s ease-in 0s;
}
.box3:hover{
    width: 700px;
}
.box4{
    transition: width 3s ease-in-out 0s;
}
.box4:hover{
    width: 700px;
}
.box5{
    transition: width 3s ease-out 0s;
}
.box5:hover{
    width: 700px;
}