*{
    color: red;
}
h3{
    font-size: 30px;
    color: aqua;
}
.h3{
    color: yellow;
}
/* #h3{
    color: red;
} */
/* rules of css -> Power*/
/* 
power 
1. inline 
2. internal/external
3. id
4. class
5. tag
6. Universal
*/
/* Comment -> message of css */
/* 
Types of comment -> 
1. single line comment 
2. multi line comment
*/
/**/
/* Group Selector */
h5, h6, p{
    color: green;
    font-size: 20px;
    font-weight: 400;
}
/* Font, Color */
/* Types of color in Css */
/* 
 1. Named Color -> red, green, blue, purple, yellow
 2. RGB -> red, green, blue (0- 255)
 3. RGBA -> red, green, blue, alpha (0-255) alpha -> 0- 0.999
 4. HEXA -> #RRGGBB
 5. HSL -> hue, saturation, lightness -> hue 0-360
 6. HSLA -> hue, saturation, lightness, alpha 
*/

/* Font */
/*  
 1. Font-size: 12px, 14px, 16px, 18px, 20px
 2. Font-weight: 100, 200, 300, 400, 500, 600, 700, 800, 900
 3. font-style: normal, italic, bold
 4. font-family: cursive, google font, google font bata font downlaod garna
*/
/* Letter */
/*  letter-spacing: 5px-> space between the letters */
/* Word */
/* 
    1. word-spacing: 5px;
    2. word-break: break-all;
    3. word-wrap: normal;
*/
/* text */
/*  
    1. text-align: statr, end, center, justify
    2. text-decoration: underline, overline, line-through, none
*/
.details{
    font-size: 18px;
    font-weight: 900;
    font-style: italic;
    /* font-family: cursive ,  ; */
    /* letter-spacing: 5px; */
    /* word-spacing: 5px; */
    /* word-break: break-all; */
    /* word-wrap: normal; */
    text-align: end;
    text-decoration: none;
    text-transform: lowercase;
    text-transform: uppercase;
    text-transform: capitalize;
    color:purple;
    /* color: rgb(222, 0, 218); */
    /* color: rgba(255, 0, 200, 0.9) */
    /* color: #ffc8c8; */
    /* color: hsl(190, 50%, 50%); */
    color: hsl(360, 50%, 50%)
}